<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlt.onlineStudy.mapper.User_courseMapper">
  <resultMap id="BaseResultMap" type="com.zlt.onlineStudy.po.User_course">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="sc_state" jdbcType="INTEGER" property="scState" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="lea_cha" jdbcType="INTEGER" property="leaCha" />
  </resultMap>
  <insert id="insert" parameterType="com.zlt.onlineStudy.po.User_course">
    insert into user_course (user_id, course_id, sc_state, 
      state, lea_cha)
    values (#{userId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{scState,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{leaCha,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlt.onlineStudy.po.User_course">
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="scState != null">
        sc_state,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="leaCha != null">
        lea_cha,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="scState != null">
        #{scState,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="leaCha != null">
        #{leaCha,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.zlt.onlineStudy.po.User_course">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="sc_state" jdbcType="INTEGER" property="scState" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="lea_cha" jdbcType="INTEGER" property="leaCha" />
  </resultMap>
  <insert id="insert" parameterType="com.zlt.onlineStudy.po.User_course">
    insert into user_course (user_id, course_id, sc_state, 
      state, lea_cha)
    values (#{userId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{scState,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{leaCha,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zlt.onlineStudy.po.User_course">
    insert into user_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="scState != null">
        sc_state,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="leaCha != null">
        lea_cha,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="scState != null">
        #{scState,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="leaCha != null">
        #{leaCha,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>